@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --font-sans: var(--font-bebas-neue-sans);
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bebas-neue-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F1F1;
    --foreground: #0a0a0a;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
.bebas-neue {
  font-family: var(--font-bebas-neue), Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.font-cinzel {
  font-family: var(--font-cenzel);
}

.checked-button{
  background: linear-gradient(180deg, #3bf679, #31dd0f); /* Tailwind Blue-500 to Blue-600 */
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.addbalance-button{
  background: linear-gradient(180deg, #11db55, #198d02); /* Tailwind Blue-500 to Blue-600 */
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.addbalance-button:hover {
  background: linear-gradient(180deg, #1a9202, #198d02); /* lighter blue */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.primary-button-b {
  background: linear-gradient(to bottom, #292929, black, #181818);
  cursor: pointer;
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s;
}

.primary-button-b:hover {
  background: linear-gradient(to bottom, #000000, #181818);
}
.primary-button-w {
  background: linear-gradient(to bottom, #ffffff, #dbdbdb);
  cursor: pointer;
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s;
}

.primary-button-w:hover {
  background-color: white;
}